<style>
    .nav-link{
      margin-bottom: 0.4rem;
      font-weight: 400 !important;
    }
</style>

<nav class="navbar navbar-dark sticky-top" style="background-color: rgb(198, 198, 198);">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home" style="color: black; font-size: 2rem;"><i class="fa-solid fa-bolt"></i>&nbsp;IOTEGS</a></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title titleNav" id="offcanvasDarkNavbarLabel"><i class="fa-solid fa-gear me-3"></i>Menu Bar</h5>
        <button type="button" class="btn-close btn-close-white "  data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      
      <div class="offcanvas-body navItem" >

        <a class="nav-link active navItems mt-2" aria-current="page" href="/home"><i class="fa-solid fa-house me-3"></i>Home</a>
        <hr>
        <a class="nav-link navItems mt-2" href="/home/team" class="mb-2"><i class="fa-regular fa-address-card me-3"></i>About Project</a>
        <hr>
        <a class="nav-link navItems mt-2 " href="/home/employee" class="mb-2"><i class="fa-solid fa-right-to-bracket me-3"></i>Login</a>
        <hr>
        <a class="nav-link navItems mt-2" href="/home/employee/logout" class="mb-2"><i class="fa-solid fa-circle-xmark me-3"></i>Logout</a>
        <hr>
      </div>
    </div>
  </div>
</nav>