<% layout("/layouts/boilerplate") %>
<style>
  .message {
    overflow: hidden;
    background-color: antiquewhite;
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1rem;
    padding-top: 1.2rem;
  }

  .message p {
    color: red;
    font-size: 1.2rem;
    white-space: nowrap;
    animation: slideText 20s linear infinite; /* Adjust the duration as needed */
  }

  @keyframes slideText {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
</style>
<body>
  <div class="message">
    <p>
      Please contact your HR user of your Division / Section for updating your
      Personal / Please Login for Authorized Employee
    </p>
  </div>

  <div class="row mb-5">
    <div class="col-6 offset-3">
      <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
          <h2
            class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
          >
            Sign in to your account
          </h2>
        </div>

        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
          <form class="space-y-6" action="/home/employee" method="POST">
            <div>
              <label
                for="username"
                class="block text-sm font-medium leading-6 text-gray-900"
                >UserName</label
              >
              <div class="mt-2">
                <input
                  id="username"
                  name="username"
                  type="text"
                  required
                  class="block w-full rounded-md border-0 py-1.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                />
              </div>
            </div>

            <div>
              <div class="flex items-center justify-between">
                <label
                  for="password"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  >Password</label
                >
                <div class="text-sm">
                  <a
                    href="/home/employee/forgetten-password"
                    class="font-semibold text-indigo-600 hover:text-indigo-500"
                    style="color: grey !important"
                    >Forgot password?</a
                  >
                </div>
              </div>
              <div class="mt-2">
                <input
                  id="password"
                  name="password"
                  type="password"
                  autocomplete="current-password"
                  required
                  class="block w-full rounded-md border-0 py-1.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                />
              </div>
            </div>

            <div>
              <button
                type="submit"
                class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                style="background-color: black !important"
              >
                Sign in
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
